{% extends "base.html" %}

{% block content %}

<section id="classes_section">
    <div class="row">
        <div class="span12">
            <form class="form-horizontal well">
                <fieldset>
                    <legend>Manage Classes</legend>
                    <div class="control-group">
                        <label class="control-label" for="new_class">New Class To Add</label>
                        <div class="controls">
                            <input type="text" class="input-large" id="new_class">
                            <button id="add_class_button" type="submit" class="btn btn-primary">Add Class</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        <div id="classes_well" class="span12">
            <div class="well clearfix">
                <legend>Saved Classes<p class="pull-right"><a href="#" class="clear-classes">clear all</a></p></legend>
                <ul id="classes" class="horizontal">
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="training_section">
    <div class="row">
        <div class="span12">
            <form class="form-horizontal well">
                <fieldset>
                    <legend>Training Data</legend>
                    <div class="control-group">
                        <label class="control-label" for="training_text">Text to Classify</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="training_text">
                            <select id="training_classes">
                                <option value="default">Select a class</option>
                            </select>
                            <button id="add_training_sample_button" type="submit" class="btn btn-primary">Add Training Sample</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        <div id="samples_well" class="span12">
            <div class="well clearfix">
                <legend>Saved Training Data<p class="pull-right"><a href="#" class="clear-samples">clear all</a></p></legend>
                <ul id="training_samples" class="horizontal">
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="classifications_section">
    <div class="row">
        <div class="span12">
            <form class="form-horizontal well">
                <fieldset>
                    <legend>Classify New Text</legend>
                    <div class="control-group">
                        <label class="control-label" for="new_classification_text">Text To Classify</label>
                        <div class="controls">
                            <input type="text" class="input-large" id="new_classification_text">
                            <button id="new_classification_button" type="submit" class="btn btn-primary">Classify</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        <div id="classifications_well" class="span12">
            <div class="well clearfix">
                <legend>Saved Classifications<p class="pull-right"><a href="#" class="clear-classifications">clear all</a></p></legend>
                <ul id="classifications" class="horizontal">
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
